.wrapper {
    display: none;
}

.main-image {
    background-image: url(../img/programmer-wallpaper-17582.png);
    min-height: 536px;
    background-position: center center;
    position: relative;
}

.hdevelopers {
    position: absolute;
    top: 30%;
    left: 40%;
}

.footer {
    background: #23334B!important;
    color: white!important;
}

.loader {
    position: absolute;
    top: 43%;
    left: 48%;
    z-index: 999999;
}

@media only screen and (max-width: 600px) {
    .hdevelopers {
        position: absolute;
        top: 30%;
        left: 25%;
    }

    span#typed {
        font-size: 20px!important;
    }

    .loader {
        position: absolute;
        top: 43%;
        left: 45%;
        z-index: 999999;
    }
    
}